img {
  height: 250px;
  width: auto;
}


#paintingdescrip1{
  width: 66%;
  font-family: "Lucida Console", Courier, monospace;
}

#paintingdescrip2{
  width: 66%;
  font-family: "Lucida Console", Courier, monospace;
}

#paintingdescrip3{
  width: 66%;
  font-family: "Lucida Console", Courier, monospace;
}

.larger{
  width: 66%;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}
